<html>
<head>
    <link href='/static/css/robo.css' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles/monokai.css">
    <script src="/static/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/static/js/robo.js"></script>
    <title>{{title}}{{title_delim}}Robo Sample Blog</title>
</head>
<body>
<div id="cont">
    <div class="blog-title">Robo Sample Blog</div>
    <hr>
